<form method="post" action="{{ path('room_book', {'id': room.id}) }}" onsubmit="return confirm('Are you sure you want to book this room ?');">
    <input type="hidden" name="_method" value="BOOK">
    <input type="hidden" name="_token" value="{{ csrf_token('book' ~ room.id) }}">
    <button class="btn btn-primary h-75 shadow">Réserver</button>
</form>
